* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9fa8b5;
}

.container-exo2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: auto;
  margin-left: 30%;
}
