.exo4 {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  color: #000;
}

.exo4 h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: -40px;
  font-size: 42px;
}

.exo4 .options h4 {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.exo4 .options button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  font-size: 18px;
}

.boutons-exo4 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.exo4 .liste {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(228, 229, 231);
}

.exo4 .liste .item {
  width: 200px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #041f70;
  color: #d4ffbc;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.exo4 .liste .actif {
  background-color: #4570f0;
  color: white;
}

.carte-auto {
  display: flex;
  width: 1000px;
  margin: 60px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ccebf8;
  color: #003336;
  box-shadow: 0 0 10px #b4bfc0;
}

.zone-image {
  width: 25%;
  /*height: 100%; */
}

.zone-image img {
  width: 100%;
}

.zone-details {
  width: 75%;
  margin: 0;
  padding: 0 10px;
}

.zone-details h2 {
  margin: 0;
  padding: 0;
}
