.exo3 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: #000;
  background-color: #c0c8d4;
}

.exo3-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #041f70;
  color: #d4ffbc;
}

.exo3-nav ul {
  list-style-type: none;
  margin: 0 auto;
}

.exo3-nav ul li 

.exo3-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 460px;
  background-color: #041f70;
  background-image: url(../img/banniere.jpg);
  background-size: cover;
}

.exo3 h1 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 42px;
}

.exo3 .reserver h4 {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.exo3 .reserver button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  margin: 10px;
  height: 40px;
  font-size: 18px;
}

.btn-reserver {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.exo3-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: auto;
  list-style-type: none;
}

.exo3-liste li {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  text-align: left;
}

.vehicule img {
  width: 200px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #041f70;
  color: #d4ffbc;
  cursor: pointer;
}

.vehicule p {
  margin-left: 20px;
  font-size: 18px;
  line-height: 20px;
}

.exo3-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #041f70;
  color: #fbfcfd;
}
