.menu {
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  background-color: rgb(28, 26, 26);
}

.conteneur {
  padding: 20px;
}

.menu button {
  background-color: rgb(28, 26, 26);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
}
